@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-auraDark text-slate-200;
  margin: 0;
  font-family: 'Inter', monospace;
}

::selection {
  @apply bg-auraNeon text-auraDark;
}

/* Custom Scrollbar for Terminal aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-auraDark;
}
::-webkit-scrollbar-thumb {
  @apply bg-auraBorder rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-auraNeon;
}
